In [6]:
from ib_insync import *
util.startLoop()

ib = IB()
ib.connect('', 7497, clientId=4)

Grab some data. see docs . https://rawgit.com/erdewit/ib_insync/master/docs/html/

In [16]:
ib.isConnected()

True

In [17]:
contract = Stock('TSLA', 'SMART', 'USD')

ib.reqHeadTimeStamp(contract, whatToShow='TRADES', useRTH=True)

datetime.datetime(2010, 6, 29, 8, 0)

In [18]:
# ib.positions()

In [39]:
# TRADES HISTORICAL_VOLATILITY OPTION_IMPLIED_VOLATILITY

In [53]:
bars = ib.reqHistoricalData(
        contract,
        endDateTime='',
        durationStr='90 D',
        barSizeSetting='1 min',
        whatToShow='TRADES',
        useRTH=True,
        formatDate=1)

In [62]:
bars_histVol = ib.reqHistoricalData(
        contract,
        endDateTime='',
        durationStr='90 D',
        barSizeSetting='1 min',
        whatToShow='HISTORICAL_VOLATILITY',
        useRTH=True,
        formatDate=1)

In [63]:
bars_impVol = ib.reqHistoricalData(
        contract,
        endDateTime='',
        durationStr='90 D',
        barSizeSetting='1 min',
        whatToShow='OPTION_IMPLIED_VOLATILITY',
        useRTH=True,
        formatDate=1)

In [64]:
bars_histVol[0]
# bars2[0]

BarData(date=datetime.datetime(2018, 4, 4, 6, 59), open=0.56610083, high=0.56610083, low=0.56610083, close=0.56610083, average=0.56610083)

In [67]:
# convert into dataframes 
df = util.df(bars)
df_histVol = util.df(bars_histVol)
df_impVol = util.df(bars_impVol)

display(df.shape)
display(df.head())
display(df.tail())

# display(df_histVol.shape)
# display(df_histVol.head())
# display(df_histVol.tail())

display(df_impVol.shape)
display(df_impVol.head())
display(df_impVol.tail())

(34920, 8)

,date,open,high,low,close,volume,barCount,average
0,2018-04-04 06:30:00,253.12,253.17,252.50,252.62,3117,845,252.892
1,2018-04-04 06:31:00,252.75,254.41,252.00,254.37,1008,672,252.686
2,2018-04-04 06:32:00,254.18,257.83,254.01,257.29,1291,842,256.054
3,2018-04-04 06:33:00,257.28,258.35,256.02,256.37,1148,764,257.657
4,2018-04-04 06:34:00,256.44,257.43,256.00,257.43,636,406,256.645

,date,open,high,low,close,volume,barCount,average
34915,2018-08-09 12:55:00,351.92,353.18,351.85,352.80,834,483,352.623
34916,2018-08-09 12:56:00,352.78,353.02,352.77,352.78,546,313,352.932
34917,2018-08-09 12:57:00,352.81,353.02,352.70,353.00,481,280,352.879
34918,2018-08-09 12:58:00,352.95,353.00,351.97,352.87,645,374,352.527
34919,2018-08-09 12:59:00,352.82,353.00,352.07,352.26,839,436,352.599

(34920, 8)

,date,open,high,low,close,volume,barCount,average
0,2018-04-04 06:30:00,0.627107,0.662364,0.627107,0.662364,0,0,0.662364
1,2018-04-04 06:31:00,0.662364,0.662364,0.662364,0.662364,0,0,0.662364
2,2018-04-04 06:32:00,0.662364,0.662364,0.661951,0.661951,0,0,0.662364
3,2018-04-04 06:33:00,0.661951,0.661951,0.661951,0.661951,0,0,0.661951
4,2018-04-04 06:34:00,0.661951,0.670857,0.661951,0.670857,0,0,0.670857

,date,open,high,low,close,volume,barCount,average
34915,2018-08-09 12:55:00,0.55302,0.55302,0.55302,0.55302,0,0,0.55302
34916,2018-08-09 12:56:00,0.55302,0.55302,0.55302,0.55302,0,0,0.55302
34917,2018-08-09 12:57:00,0.55302,0.55302,0.55302,0.55302,0,0,0.55302
34918,2018-08-09 12:58:00,0.55302,0.55302,0.55302,0.55302,0,0,0.55302
34919,2018-08-09 12:59:00,0.55302,0.55302,0.55302,0.55302,0,0,0.55302

In [78]:
# the historic volatility data is sparse. Will just focus on trades and implied volitility.
# remove empty colums (volume, barcount) and rename columns so they dont conflict with Trades
df_impVol.drop(columns=['volume', 'barCount'], inplace=True)

KeyError: "['volume' 'barCount'] not found in axis"

In [79]:
# Rename cols
df_impVol.rename(index=str, columns={"open": "volOpen", "high":"volHigh", "low":"volLow", "close":"volClose", "average":"volAverage"})

                     date   volOpen   volHigh    volLow  volClose  volAverage
0     2018-04-04 06:30:00  0.627107  0.662364  0.627107  0.662364    0.662364
1     2018-04-04 06:31:00  0.662364  0.662364  0.662364  0.662364    0.662364
2     2018-04-04 06:32:00  0.662364  0.662364  0.661951  0.661951    0.662364
3     2018-04-04 06:33:00  0.661951  0.661951  0.661951  0.661951    0.661951
4     2018-04-04 06:34:00  0.661951  0.670857  0.661951  0.670857    0.670857
5     2018-04-04 06:35:00  0.670857  0.670857  0.670857  0.670857    0.670857
6     2018-04-04 06:36:00  0.670857  0.670857  0.663412  0.663412    0.670857
7     2018-04-04 06:37:00  0.663412  0.663412  0.663412  0.663412    0.663412
8     2018-04-04 06:38:00  0.663412  0.663412  0.648712  0.648712    0.663412
9     2018-04-04 06:39:00  0.648712  0.648712  0.648712  0.648712    0.648712
10    2018-04-04 06:40:00  0.648712  0.648712  0.643124  0.643124    0.648712
11    2018-04-04 06:41:00  0.643124  0.643124  0.643124  0.643124    0.643124
12    2018-04-04 06:42:00  0.643124  0.643124  0.643124  0.643124    0.643124
13    2018-04-04 06:43:00  0.643124  0.643124  0.634361  0.634361    0.643124
14    2018-04-04 06:44:00  0.634361  0.634361  0.634361  0.634361    0.634361
15    2018-04-04 06:45:00  0.634361  0.636393  0.634361  0.636393    0.636393
16    2018-04-04 06:46:00  0.636393  0.636393  0.636393  0.636393    0.636393
17    2018-04-04 06:47:00  0.636393  0.636393  0.635250  0.635250    0.636393
18    2018-04-04 06:48:00  0.635250  0.635250  0.635250  0.635250    0.635250
19    2018-04-04 06:49:00  0.635250  0.635250  0.634187  0.634187    0.635250
20    2018-04-04 06:50:00  0.634187  0.634187  0.634187  0.634187    0.634187
21    2018-04-04 06:51:00  0.634187  0.634187  0.628805  0.628805    0.634187
22    2018-04-04 06:52:00  0.628805  0.628805  0.628805  0.628805    0.628805
23    2018-04-04 06:53:00  0.628805  0.628805  0.624170  0.624170    0.628805
24    2018-04-04 06:54:00  0.624170  0.624170  0.624170  0.624170    0.624170
25    2018-04-04 06:55:00  0.624170  0.624170  0.624170  0.624170    0.624170
26    2018-04-04 06:56:00  0.624170  0.624170  0.621741  0.621741    0.624170
27    2018-04-04 06:57:00  0.621741  0.621741  0.621741  0.621741    0.621741
28    2018-04-04 06:58:00  0.621741  0.621741  0.607279  0.607279    0.621741
29    2018-04-04 06:59:00  0.607279  0.607279  0.607279  0.607279    0.607279
...                   ...       ...       ...       ...       ...         ...
34890 2018-08-09 12:30:00  0.541321  0.547544  0.541321  0.547544    0.547544
34891 2018-08-09 12:31:00  0.547544  0.547544  0.547544  0.547544    0.547544
34892 2018-08-09 12:32:00  0.547544  0.549179  0.547544  0.549179    0.549179
34893 2018-08-09 12:33:00  0.549179  0.549179  0.549179  0.549179    0.549179
34894 2018-08-09 12:34:00  0.549179  0.550052  0.549179  0.550052    0.550052
34895 2018-08-09 12:35:00  0.550052  0.550052  0.550052  0.550052    0.550052
34896 2018-08-09 12:36:00  0.550052  0.550671  0.550052  0.550671    0.550671
34897 2018-08-09 12:37:00  0.550671  0.550671  0.550671  0.550671    0.550671
34898 2018-08-09 12:38:00  0.550671  0.551179  0.550671  0.551179    0.551179
34899 2018-08-09 12:39:00  0.551179  0.551179  0.551179  0.551179    0.551179
34900 2018-08-09 12:40:00  0.551179  0.551179  0.551179  0.551179    0.551179
34901 2018-08-09 12:41:00  0.551179  0.552877  0.551179  0.552877    0.552877
34902 2018-08-09 12:42:00  0.552877  0.552877  0.552877  0.552877    0.552877
34903 2018-08-09 12:43:00  0.552877  0.553020  0.552877  0.553020    0.553020
34904 2018-08-09 12:44:00  0.553020  0.553020  0.553020  0.553020    0.553020
34905 2018-08-09 12:45:00  0.553020  0.553020  0.553020  0.553020    0.553020
34906 2018-08-09 12:46:00  0.553020  0.553020  0.553020  0.553020    0.553020
34907 2018-08-09 12:47:00  0.553020  0.553020  0.553020  0.553020    0.553020
34908 2018-08-09 12:48:00  0.553020  0.553020  0.553020  0.553020    0.553020
34909 2018-08-09 12:49:00  0.553020  0.553020  0.553020  0.553020    0.553020
34910 2018-08-09 12:50:00  0.553020  0.553020  0.553020  0.553020    0.553020
34911 2018-08-09 12:51:00  0.553020  0.553020  0.553020  0.553020    0.553020
34912 2018-08-09 12:52:00  0.553020  0.553020  0.553020  0.553020    0.553020
34913 2018-08-09 12:53:00  0.553020  0.553020  0.553020  0.553020    0.553020
34914 2018-08-09 12:54:00  0.553020  0.553020  0.553020  0.553020    0.553020
34915 2018-08-09 12:55:00  0.553020  0.553020  0.553020  0.553020    0.553020
34916 2018-08-09 12:56:00  0.553020  0.553020  0.553020  0.553020    0.553020
34917 2018-08-09 12:57:00  0.553020  0.553020  0.553020  0.553020    0.553020
34918 2018-08-09 12:58:00  0.553020  0.553020  0.553020  0.553020    0.553020
34919 2018-08-09 12:59:00  0.553020  0.553020  0.553020  0.553020    0.553020

[34920 rows x 6 columns]

In [81]:
# Rename cols
df_impVol.head()

                 date      open      high       low     close   average
0 2018-04-04 06:30:00  0.627107  0.662364  0.627107  0.662364  0.662364
1 2018-04-04 06:31:00  0.662364  0.662364  0.662364  0.662364  0.662364
2 2018-04-04 06:32:00  0.662364  0.662364  0.661951  0.661951  0.662364
3 2018-04-04 06:33:00  0.661951  0.661951  0.661951  0.661951  0.661951
4 2018-04-04 06:34:00  0.661951  0.670857  0.661951  0.670857  0.670857

In [92]:
# Merge datasets
df_merged = df.merge(df_impVol, left_on='date', right_on='date', how='outer')

In [102]:
# add new datapoint . 1 for direction (price up/down). 2 magnitude as % of 
# adding rolling mean for price 
import pandas as pd

df_merged.head(2)
df = df_merged

# df['rollPrice'] = pd.rolling_mean(df['close_x'], 200)
df['trend'] = df['open_x'] - df['close_x']
df.head(2)

,date,open_x,high_x,low_x,close_x,volume,barCount,average_x,open_y,high_y,low_y,close_y,average_y,high-low,trend
0,2018-04-04 06:30:00,253.12,253.17,252.5,252.62,3117,845,252.892,0.627107,0.662364,0.627107,0.662364,0.662364,0.67,0.50
1,2018-04-04 06:31:00,252.75,254.41,252.0,254.37,1008,672,252.686,0.662364,0.662364,0.662364,0.662364,0.662364,2.41,-1.62

In [108]:
# create a score for rolling means 
df['rollPrice'] = df['close_x'].rolling(200).mean()
# df['trend'] = df['open_x'] - df['close_x']
df.head(205)

,date,open_x,high_x,low_x,close_x,volume,barCount,average_x,open_y,high_y,low_y,close_y,average_y,high-low,trend,rollPrice
0,2018-04-04 06:30:00,253.12,253.17,252.50,252.62,3117,845,252.892,0.627107,0.662364,0.627107,0.662364,0.662364,0.67,0.50,NaN
1,2018-04-04 06:31:00,252.75,254.41,252.00,254.37,1008,672,252.686,0.662364,0.662364,0.662364,0.662364,0.662364,2.41,-1.62,NaN
2,2018-04-04 06:32:00,254.18,257.83,254.01,257.29,1291,842,256.054,0.662364,0.662364,0.661951,0.661951,0.662364,3.82,-3.11,NaN
3,2018-04-04 06:33:00,257.28,258.35,256.02,256.37,1148,764,257.657,0.661951,0.661951,0.661951,0.661951,0.661951,2.33,0.91,NaN
4,2018-04-04 06:34:00,256.44,257.43,256.00,257.43,636,406,256.645,0.661951,0.670857,0.661951,0.670857,0.670857,1.43,-0.99,NaN
5,2018-04-04 06:35:00,257.42,258.90,257.33,257.81,966,580,258.162,0.670857,0.670857,0.670857,0.670857,0.670857,1.57,-0.39,NaN
6,2018-04-04 06:36:00,257.80,259.07,257.00,259.07,1075,595,257.909,0.670857,0.670857,0.663412,0.663412,0.670857,2.07,-1.27,NaN
7,2018-04-04 06:37:00,259.04,260.10,258.69,259.83,1003,573,259.643,0.663412,0.663412,0.663412,0.663412,0.663412,1.41,-0.79,NaN
8,2018-04-04 06:38:00,259.89,260.00,258.79,258.90,672,451,259.302,0.663412,0.663412,0.648712,0.648712,0.663412,1.21,0.99,NaN
9,2018-04-04 06:39:00,258.83,259.10,258.13,258.52,488,329,258.755,0.648712,0.648712,0.648712,0.648712,0.648712,0.97,0.31,NaN
10,2018-04-04 06:40:00,258.45,259.70,258.37,258.59,686,428,259.029,0.648712,0.648712,0.643124,0.643124,0.648712,1.33,-0.14,NaN
11,2018-04-04 06:41:00,258.59,259.98,258.46,259.89,715,514,259.447,0.643124,0.643124,0.643124,0.643124,0.643124,1.52,-1.30,NaN
12,2018-04-04 06:42:00,259.95,260.82,258.66,260.53,691,481,259.908,0.643124,0.643124,0.643124,0.643124,0.643124,2.16,-0.58,NaN
13,2018-04-04 06:43:00,260.48,260.50,259.09,259.84,364,226,259.913,0.643124,0.643124,0.634361,0.634361,0.643124,1.41,0.64,NaN
14,2018-04-04 06:44:00,259.68,259.81,259.30,259.63,504,338,259.554,0.634361,0.634361,0.634361,0.634361,0.634361,0.51,0.05,NaN
15,2018-04-04 06:45:00,259.61,260.19,258.76,258.76,439,304,259.548,0.634361,0.636393,0.634361,0.636393,0.636393,1.43,0.85,NaN
16,2018-04-04 06:46:00,258.75,260.33,258.75,259.94,795,496,259.654,0.636393,0.636393,0.636393,0.636393,0.636393,1.58,-1.19,NaN
17,2018-04-04 06:47:00,260.00,260.70,259.06,260.32,787,465,260.102,0.636393,0.636393,0.635250,0.635250,0.636393,1.64,-0.32,NaN
18,2018-04-04 06:48:00,260.23,261.67,260.16,261.61,455,245,260.929,0.635250,0.635250,0.635250,0.635250,0.635250,1.51,-1.38,NaN
19,2018-04-04 06:49:00,261.59,261.64,259.80,260.13,553,269,260.887,0.635250,0.635250,0.634187,0.634187,0.635250,1.84,1.46,NaN
20,2018-04-04 06:50:00,260.18,260.80,259.76,260.09,429,200,260.245,0.634187,0.634187,0.634187,0.634187,0.634187,1.04,0.09,NaN
21,2018-04-04 06:51:00,260.19,261.06,260.07,260.50,304,178,260.664,0.634187,0.634187,0.628805,0.628805,0.634187,0.99,-0.31,NaN
22,2018-04-04 06:52:00,260.41,262.00,260.32,261.52,595,275,261.259,0.628805,0.628805,0.628805,0.628805,0.628805,1.68,-1.11,NaN
23,2018-04-04 06:53:00,261.27,262.75,261.20,262.38,680,327,262.159,0.628805,0.628805,0.624170,0.624170,0.628805,1.55,-1.11,NaN
24,2018-04-04 06:54:00,262.47,263.51,262.36,263.00,612,383,262.961,0.624170,0.624170,0.624170,0.624170,0.624170,1.15,-0.53,NaN
25,2018-04-04 06:55:00,263.15,263.70,262.44,263.06,576,319,262.950,0.624170,0.624170,0.624170,0.624170,0.624170,1.26,0.09,NaN
26,2018-04-04 06:56:00,263.03,264.80,262.97,264.14,798,444,264.103,0.624170,0.624170,0.621741,0.621741,0.624170,1.83,-1.11,NaN
27,2018-04-04 06:57:00,264.25,266.00,264.19,265.53,1109,798,265.296,0.621741,0.621741,0.621741,0.621741,0.621741,1.81,-1.28,NaN
28,2018-04-04 06:58:00,265.51,266.40,264.87,265.08,1021,539,265.823,0.621741,0.621741,0.607279,0.607279,0.621741,1.53,0.43,NaN
29,2018-04-04 06:59:00,265.11,265.60,264.57,265.14,657,492,265.073,0.607279,0.607279,0.607279,0.607279,0.607279,1.03,-0.03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,2018-04-04 09:25:00,277.51,278.06,277.36,277.50,222,162,277.716,0.603454,0.603454,0.603454,0.603454,0.603454,0.70,0.01,NaN
176,2018-04-04 09:26:00,277.61,278.29,277.59,278.29,337,186,277.982,0.603454,0.603454,0.601533,0.601533,0.603454,0.70,-0.68,NaN
177,2018-04-04 09:27:00,278.22,278.26,277.52,277.94,277,171,277.999,0.601533,0.601533,0.601533,0.601533,0.601533,0.74,0.28,NaN
178,2018-04-04 09:28:00,277.88,278.19,277.50,277.93,323,175,277.833,0.601533,0.605454,0.601533,0.605454,0.605454,0.69,-0.05,NaN
179,2018-04-04 09:29:00,277.92,278.10,277.72,277.99,152,92,277.938,0.605454,0.605454,0.605454,0.605454,0.605454,0.38,-0.07,NaN
180,2018-04-04 09:30:00,278.00,278.89,278.00,278.67,514,270,278.532,0.605454,0.605454,0.605454,0.605454,0.605454,0.89,-0.67,NaN
181,2018-04-04 09:31:00,278.59,279.10,278.06,279.07,494,302,278.783,0.605454,0.607565,0.605454,0.607565,0.607565,1.04,-0.48,NaN
182,2018-04-04 09:32:00,279.00,279.13,277.93,278.00,360,224,278.615,0.607565,0.607565,0.607565,0.607565,0.607565,1.20,1.00,NaN
183,2018-04-04 09:33:00,278.10,279.05,277.85,279.00,412,238,278.448,0.607565,0.608819,0.607565,0.608819,0.608819,1.20,-0.90,NaN
184,2018-04-04 09:34:00,278.85,279.30,278.23,279.23,327,172,278.779,0.608819,0.608819,0.608819,0.608819,0.608819,1.07,-0.38,NaN
185,2018-04-04 09:35:00,279.33,279.50,279.00,279.21,528,291,279.353,0.608819,0.608819,0.602057,0.602057,0.608819,0.50,0.12,NaN
186,2018-04-04 09:36:00,279.20,279.24,278.76,278.86,230,135,279.024,0.602057,0.602057,0.602057,0.602057,0.602057,0.48,0.34,NaN
187,2018-04-04 09:37:00,278.93,279.25,278.78,279.10,221,118,279.117,0.602057,0.602057,0.602057,0.602057,0.602057,0.47,-0.17,NaN
188,2018-04-04 09:38:00,279.17,279.23,278.30,278.59,261,121,278.801,0.602057,0.602057,0.601549,0.601549,0.602057,0.93,0.58,NaN
189,2018-04-04 09:39:00,278.58,279.35,278.47,279.35,273,168,278.768,0.601549,0.601549,0.601549,0.601549,0.601549,0.88,-0.77,NaN
190,2018-04-04 09:40:00,279.35,279.85,278.68,278.98,391,211,279.444,0.601549,0.601644,0.601549,0.601644,0.601644,1.17,0.37,NaN
191,2018-04-04 09:41:00,278.79,279.24,278.52,278.86,181,113,278.848,0.601644,0.601644,0.601644,0.601644,0.601644,0.72,-0.07,NaN
192,2018-04-04 09:42:00,278.87,280.00,278.87,279.91,844,418,279.792,0.601644,0.602628,0.601644,0.602628,0.602628,1.13,-1.04,NaN
193,2018-04-04 09:43:00,280.00,280.20,279.70,279.74,569,326,279.974,0.602628,0.602628,0.602628,0.602628,0.602628,0.50,0.26,NaN
194,2018-04-04 09:44:00,279.70,280.49,279.60,280.35,379,204,280.022,0.602628,0.602628,0.601914,0.601914,0.602628,0.89,-0.65,NaN
195,2018-04-04 09:45:00,280.35,280.63,279.77,280.58,425,235,280.125,0.601914,0.601914,0.601914,0.601914,0.601914,0.86,-0.23,NaN
196,2018-04-04 09:46:00,280.58,280.68,280.12,280.38,287,171,280.415,0.601914,0.601914,0.600120,0.600120,0.601914,0.56,0.20,NaN
197,2018-04-04 09:47:00,280.36,280.40,279.64,280.40,453,183,280.074,0.600120,0.600120,0.600120,0.600120,0.600120,0.76,-0.04,NaN
198,2018-04-04 09:48:00,280.39,280.56,279.60,279.72,431,185,280.119,0.600120,0.603596,0.600120,0.603596,0.603596,0.96,0.67,NaN
199,2018-04-04 09:49:00,279.93,280.45,279.60,279.73,293,136,280.038,0.603596,0.603596,0.603596,0.603596,0.603596,0.85,0.20,270.72795
200,2018-04-04 09:50:00,279.83,280.22,279.25,279.98,459,234,279.830,0.603596,0.605041,0.603596,0.605041,0.605041,0.97,-0.15,270.86475
201,2018-04-04 09:51:00,280.00,280.27,279.44,279.76,582,255,280.013,0.605041,0.605041,0.605041,0.605041,0.605041,0.83,0.24,270.99170
202,2018-04-04 09:52:00,279.76,279.86,278.54,278.90,444,183,279.133,0.605041,0.608057,0.605041,0.608057,0.608057,1.32,0.86,271.09975
203,2018-04-04 09:53:00,279.02,279.02,278.05,278.37,510,313,278.368,0.608057,0.608057,0.608057,0.608057,0.608057,0.97,0.65,271.20975
204,2018-04-04 09:54:00,278.40,279.14,278.34,279.00,214,131,278.810,0.608057,0.608057,0.606962,0.606962,0.608057,0.80,-0.60,271.31760

In [4]:
ib.disconnect()